body
{
  font-size: 6.25em;
  font-weight: bold;
}

input
{
  height: 4em;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
}

input[type=button]
{
  background-color:#CC99FF;
  margin: .05em;
}

input[type=text]
{
  background-color: #FFFF99;
}

input[type=number]
{
  background-color: #FFFF99;
  width: 3em;
  height: 80%;
  text-align: center;
}

hr {
  height: 2px;
  background-color: black;
}

div#min {
  text-align: center;
}

input#btnApplySettings {
  height: 2.7em;
}

p {
  font-size: .4em;
  margin-bottom: 0;
}


textarea
{
  width: 75%;
  font-size: 0.2em;
}

table
{
  width: 100%;
  border: 1px solid black;
}

table td
{
  width: 50%;
  border: 1px solid black;
}
