body
{
  font-size: 6.25em;
  font-weight: bold;
  font-family: arial;
}

input
{
  height: 4em;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  font-family: arial;
}

input[type=button]
{
  margin: .05em;
}

input#btnFollowStreets {
  background-color: #000;
  background: url(https://s3.us-east-2.amazonaws.com/joe-random/2000px-Solid_white.svg.png) no-repeat right top;
  border-style: solid;
  margin-bottom: .3em;
}

input#btnCurrentLocation {
  background-color: #000;
  background: url(https://s3.us-east-2.amazonaws.com/joe-random/2000px-Solid_white.svg.png) no-repeat right top;
  border-style: solid;
}

input#btnApplySettings {
  background-color: #FFF;
  background: url(https://s3.us-east-2.amazonaws.com/joe-random/2000px-Solid_white.svg.png) no-repeat right top;
  height: 2.7em;
  border-style: solid;
}

input[type=text]
{
  background-color: #FFFF99;
}

input[type=number]
{
  background-color: #FFFF99;
  width: 3em;
  height: 80%;
  text-align: center;
}

hr {
  height: 2px;
  background-color: black;
}

div#min {
  text-align: center;
  font-family: arial;
}

p {
  font-size: .4em;
  margin-bottom: 0;
}

table
{
  width: 100%;
  border: 1px solid black;
}

table td
{
  width: 50%;
  border: 1px solid black;
}
